---
title: FAQ
---

<h2>FAQ</h2>

<p>Subject to Change (Old FAQ for now)</p>

<div id="page-wrapper">

  <div class="about-wrapper">
    <div class="question">
      <h4><a href="#">When does the program start?</a></h4>
      <div class="answer">
        <p>Program start dates are as follows:
          <ul>
            <li><em>Winter 2014 Session: </em>January 6, 2014</li>
            <li><em>Spring 2014 Session: </em>May 5, 2014 (tentative)</li>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <div class="question">
    <h4><a href="#">When is the application deadline?</a></h4>
    <div class="answer">
      <p>Application deadlines are as follows:
        <ul>
          <li><em>Winter 2014 Session: </em>November 27</li>
          <li><em>Spring 2014 Session: </em>April 7, 2014 (tentative)</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="question">
    <h4><a href="#">How long is each session?</a></h4>
    <div class="answer">
      <p>12 weeks</p>
    </div>
  </div>

  <div class="question">
    <h4><a href="#">When will applications be accepted?</a></h4>
    <div class="answer">
      <p>Fall and Winter session applications are being accepted now. Please indicate which session you are applying for.</p>
    </div>
  </div>

  <div class="question">
    <h4><a href="#">How much does it cost?</a></h4>
    <div class="answer">
      <p>$1,000 deposit due when you are accepted into the program to hold your spot. $2500 due by the end of the session.</p>
      <p>We endeavor to not turn away any students for purely financial reasons. Please contact us if you need financial assistance.</p>
    </div>
  </div>

  <div class="question">
    <h4><a href="#">How do I apply?</a></h4>
    <div class="answer">
      <p>Check out our <%= link_to "application page", "/apply.html" %></p>
    </div>
  </div>

  <div class="collapsible">
    <h3>Expectations</h3>

    <div class="question">
      <h4><a href="#">What's the minimum skill level for the program?</a></h4>
      <div class="answer longer-answer">
        <p>This will depend on which track you enter.</p>
        <p>For the JavaScript track, you should be able to:</p>
          <ul>
            <li>Explain front-end vs. back-end web development</li>
            <li>Draw a client-server model diagram</li>
            <li>Open files in Sublime Text 2</li>
            <li>Push new or altered files to a Github repo</li>
            <li>Create a new file in a specific directory from the command line</li>
          </ul>
        </p>
        <p>For the Ruby on Rails track, you should be able to:</p>
          <ul>
            <li>Demonstrate understanding of programming basics</li>
            <li>Do things in Interactive Ruby (irb)</li>
            <li>Show us your Github account with self-created repos and lots of "green"</li>
            <li>Write simple functions in Ruby, require gems, and generate other simple code in Ruby</li>
            <li>Use the command line, Sublime Text 2, and Github with relative ease</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="question">
      <h4><a href="#">How can I do better in the application process?</a></h4>
      <div class="answer long-answer">
        <p>There are three things you can do.</p>
        <p>
          <ul>
            <li>Creative Project: Make a video or other creative project that features you doing whatever it is you do to help us get to know you better. </li>
            <li>Portfolio: Make a portfolio of your previous learning attempts. We aren't expecting something like worrydream.com, but it's a great example of a superior portfolio piece. </li>
            <li>Community Engagement: Get involved in a programmer community such as Code Scouts, Ruby Newbies, Hack + Help, RailsGirls/RubyNest, JavaScript Admirers, or any of a hundred other options you can find on <a href="http://calagator.org/events">Calagator</a>.</li>
          </ul>
        </p>
      </div>
    </div>

    <div class="question">
      <h4><a href="#">Can I really learn to code in 12 weeks?</a></h4>
      <div class="answer">
        <p>Yes, but you should expect to work hard in this program (about 2-3 hours outside of class for each hour in class). Our programs each meet two nights weekly (3 hours each night), and one Saturday each month (6 hours more). We want to make sure you are prepared for a career as web developer, which means there is a lot of ground to cover.</p>
      </div>
    </div>

    <div class="question">
      <h4><a href="#">Will we be guaranteed a job after the program?</a></h4>
      <div class="answer">
        <p>No, there is no guarantee. But if you do well we will try our hardest to make sure you find your way into the loving arms of a great developer shop.</p>
      </div>
    </div>

    <div class="question">
      <h4><a href="#">What if I can't pay?</a></h4>
      <div class="answer">
        <p>We endeavor to not turn away anyone for financial reasons. Let us know if tuition presents a significant financial difficulty and we will do everything we can to work with you.</p>
      </div>
    </div>

    <div class="question">
      <h4><a href="#">Do I need to be enrolled in college to take part?</a></h4>
      <div class="answer">
        <p>Not at all. This is a private career school.</p>
      </div>
    </div>

    <div class="question">
      <h4><a href="#">Will we be working alone or in teams?</a></h4>
      <div class="answer">
        <p>We believe strongly in pairing and working in small groups. There will be some individual work time and some larger group work time, but you will spend most of your time pairing with another student (or two) or a mentor.</p>
      </div>
    </div>

    <div class="question">
      <h4><a href="#">Will there be any open source work?</a></h4>
      <div class="answer">
        <p>Yes. We encourage open source work and provide time in the final phase of the program for guided open source work.</p>
      </div>
    </div>

    <h3>Teaching details</h3>

    <div class="question">
      <h4><a href="#">What happens if I can't keep up or if I find out that I hate programming?</a></h4>
      <div class="answer">
        <p>This program is going to be hard and the only way to know how far you can go is to try. We promise to do everything we can to help you through the program and provide extra resources and help sessions for you.</br>But, at the end of the day if you need to drop the program, we offer a pro-rated tuition refund. The pro-rated refund does not include the $1,000 deposit.</p>
      </div>
    </div>
  </div>
</div>

  <h1>Financial Questions:</h1>
  <div class="question"><h4><a href="#">How much does the program cost?</div></a></h4>
      <div class="answer">
          <p>$3500 for the main classes: Rails, JS, and FEF.</p>
      </div>
  </div>

<div class="question"><h4><a href="#">What kind of payment plans do you offer?</div></a></h4>
      <div class="answer">
      <p>The month after the 4-month program ends, the balance of $2500 may be paid back over 9 months ($320 for 8 months, and $90 for the 9th month -- for a total of $2650, including 6% interest).</p></div></div>

<div class="question"><h4><a href="#">Can I use Stafford Loans, VA benefits, or GI Bill to pay for classes?</div></a></h4>
      <div class="answer">
      <p>Unfortunately, we cannot accept any payment methods other than cash, personal check, or paypal.</p></div></div>

<h1>Job Placement:</h1>
<div class="question"><h4><a href="#">Am I guaranteed a job at end of the program?</div></a></h4>
      <div class="answer">
      <p>We do not offer a guarantee. We have two kinds of students at PCS: those who are here to learn and get a job when it’s over, and those who are here to learn for themselves or their business. The ones who want to get a job at end are almost always successful. We believe in the motto: “Success does not come to you; you go to it -- and we’ll help you go.”</p></div></div>

<div class="question"><h4><a href="#">What percentage of your students get placed into jobs?</div></a></h4>
      <div class="answer">
      <p>Out of our graduates who have wanted to get placed, our summer cohort is 100% placed, and last winter’s cohort is 80% placed. Not all placed students were placed within our employer network. In addition to our efforts, PCS works with two agencies -- CorSource and Vitamin T -- who also actively find work and interviews for graduates of the program. PCS and its partners (like CorSource) help students with interview coaching, resumé building, and networking within Portland’s tech community.</p></div></div>

<h1>Other Questions:</h1>
<div class="question"><h4><a href="#">Who are your instructors?</div></a></h4>
      <div class="answer">
      <p><%= link_to Al Zimmerman %> teaches two courses: Ruby on Rails and Front End Freelancing. <%= link_to David Manning %> and Ben Verble co-teach the JavaScript course.</p></div></div>

<div class="question"><h4><a href="#">What if I have never coded before?</div></a></h4>
      <div class="answer">
      <p>That’s perfectly fine. Our Primer class is designed to get you the technical skills needed to be accepted into either the Ruby on Rails or JavaScript classes. Those skills include: using basic HTML, CSS, GitHub, and Sublime Text (or another excellent text editor for developers). If you do not yet possess those skills, we recommend taking either our Primer or the Front End Freelancing classes.</p></div></div>

<div class="question"><h4><a href="#">Which class should is best for me</div></a></h4>
      <div class="answer">
      <p>This is a great question, and one we can only help you answer for yourself. We recommend contacting our instructors to help you get a better idea of what skills you’ll get out of each class, what your personal interests are, and how each class should weigh into your decision.</p></div></div>

<div class="question"><h4><a href="#">What happens if I can't keep up, or if I find that programming is not for me?</div></a></h4>
      <div class="answer">
      <p>It is an accelerated learning program, so you should be prepared to treat your time at PCS like a professional job. If it proves to be too much for you, or if you find that programming is simply not your thing, then we retain the $1000 non-refundable deposit, and refund you a pro-rated amount of tuition.</p></div></div>

<div class="question"><h4><a href="#">When is the application deadline?</div></a></h4>
      <div class="answer">
      <p>This is generally 2 weeks before the start of each class, but check our <% link_to calendar %> just to be sure.</p></div></div>
<div class="question"><h4><a href="#">When do classes start?</div></a></h4>
      <div class="answer">
      <p>Please check our <%link_to calendar %> for the start dates for each class, or the class descriptions for the next time each class is offered.
</p></div></div>






